:root{
  --mainWhite: #EAE7DC;
  --mainVanilla: #D8C3A5;
  --mainGray: #8E8D8A;
  --lightJelly: #E98074;
  --mainJelly: #E85A4F;
}

body {
  font-family: 'Roboto', sans-serif !important;
  /* background: var(--mainWhite) !important; */
  background: white;
  /* color: var(--mainGray) !important; */
}

h1 {
  /* color: var(--mainJelly); */
}

p {
  font-size: 1.2rem;
}

ul {
  list-style: none;
  
}

.text-title {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.text-jelly {
  color: var(--mainJelly);
}

.text-light-jelly {
  color: var(--lightJelly) !important;
}

.text-gray {
  color: var(--mainGray);
}

.text-vanilla {
  color: var(--mainVanilla);
}

.text-white {
  color: var(--mainWhite);
}